# Predict House Prices Using Decision Tree Regressor

## Load data

In [1]:
import pandas as pd

iowa_file_path = 'data/train.csv'

home_data = pd.read_csv(iowa_file_path)

home_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

## Specify prediction target

In [7]:
y = home_data.SalePrice
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

## Specify features

In [8]:
feature_names = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd', 'OverallQual', 'OverallCond']

X = home_data[feature_names]

X.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd,OverallQual,OverallCond
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808,6.099315,5.575342
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393,1.382997,1.112799
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000,5.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000,6.000000,5.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000,7.000000,6.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000,10.000000,9.000000

In [9]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd,OverallQual,OverallCond
0,8450,2003,856,854,2,3,8,7,5
1,9600,1976,1262,0,2,3,6,6,8
2,11250,2001,920,866,2,3,6,7,5
3,9550,1915,961,756,1,3,7,7,5
4,14260,2000,1145,1053,2,4,9,8,5

## Specify and fit model

In [10]:
from sklearn.tree import DecisionTreeRegressor

iowa_model = DecisionTreeRegressor(random_state=1)

iowa_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

## Make predictions

In [11]:
predictions = iowa_model.predict(X)
print(predictions)

[208500. 181500. 223500. ... 266500. 142125. 147500.]

In [12]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

## Validate model

In [13]:
from sklearn.metrics import mean_absolute_error

error = mean_absolute_error(y, predictions)
print('The mean absolute error for the in-sample data was about $%d' %(error))

The mean absolute error for the in-sample data was about $23

## Now split data into training and validation data

In [14]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

## Fit model with training data

In [15]:
iowa_model_two = DecisionTreeRegressor(random_state=1)

iowa_model_two.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

## Make predictions with validation data

In [16]:
val_predictions = iowa_model_two.predict(val_X)

print(val_predictions)

[192500. 135000. 116050.  75500. 139900. 305000. 336000. 144152. 215000.
 239686. 180000.  91000. 192500. 184750. 227000. 109000. 110000.  60000.
 205000. 143750. 142000. 135000. 275000. 377500. 119000. 181500. 119500.
 185000. 446261. 159434. 130000. 124000. 124900. 135000. 145000. 315000.
  89500. 100000. 214000.  97000. 147000. 159500. 110500. 119000. 172400.
 190000. 129900. 167240. 262500. 260000. 132000. 320000. 119000. 240000.
 207000. 118000. 116050. 160000. 120000. 171000. 159000. 325300. 112000.
 124900. 180000. 127000. 153575. 201800. 157000. 145000. 110000. 108000.
 281213. 145000. 147000. 195400. 216000. 104900. 320000. 208900. 235000.
  97000. 133000. 147500. 194500. 179900. 149500. 142500. 174000. 143000.
 208900. 197500. 116050. 102000. 120000. 112000. 114500. 150750. 155000.
 162000. 126000. 130500. 128000. 129000. 150000. 167500. 176432. 144000.
 160000. 315000. 125000. 155000. 143500. 203000. 220000. 173500. 265900.
 119900. 159000. 372402. 143000. 265900. 315000. 234000. 145000. 145000.
 395192. 128000. 205000. 230000. 268000.  92900. 139000. 108000. 109500.
 176432. 755000. 285000. 214000. 119000. 145000. 250000. 145000. 192500.
  68400. 253000. 100000. 215000. 192500. 112500. 180000. 153900. 120500.
 192000. 173000. 336000.  67000. 149350. 125500. 135900. 115000. 113000.
 155000. 143250. 143750. 131400. 177000. 143000. 142600. 175000. 219210.
 129500. 274725. 402000. 174000. 134900. 145000. 204000. 135000. 165000.
 132500. 197000. 143900. 138500. 319000. 152000. 372500. 287000. 165000.
 127500. 120500. 141000.  85400. 170000.  98000. 290000. 214000. 145000.
 130000.  52500. 198900. 250000. 155000. 178000. 277500.  90350. 194000.
 268000. 424870. 256000. 208500. 129000. 168500. 133500. 245350. 255000.
 130000.  92900. 185000.  83500. 755000. 116500. 177000. 234000. 127000.
 116500. 229456. 142000. 173733. 160000. 175000. 175500. 100000. 127000.
 451950. 118964. 302000. 112500. 141000. 228500. 239000. 189950. 115000.
 128950.  80000. 116000. 149350. 177500. 143000. 137500. 129500.  91000.
 185900. 152000. 143900. 125000. 187500.  68500. 451950. 118500. 202500.
  60000. 193000. 181000.  85000. 169000. 139000. 311500. 197500. 100000.
 205000. 215000. 112000. 145000. 135000. 132500. 112000. 137000. 177000.
 139400. 152000. 133700. 127000. 135500. 269500. 240000. 131000. 129000.
 255500.  90000.  87000. 212000. 107500. 147000. 203000. 194500. 183200.
 231500. 149900. 109500. 148000. 132500. 123000. 170000.  91000. 223000.
 157000. 158000. 143900. 194500. 159000. 185000. 125500. 212900. 148500.
 115000. 240000. 200141. 175500. 188000. 208500. 158000. 112000. 274300.
 147000. 333168. 167240. 205000. 177500. 128000. 135960. 278000. 237000.
 255500. 201000. 188000. 143750.  80000. 290000. 172400. 240000. 335000.
  79000. 284000. 109500. 180500. 145000. 165000. 451950.  96500. 239799.
 194000. 315000. 153500. 139000. 137500. 239799. 145000.  93000. 281213.
 213500. 227000. 137500. 236500. 137000.]

## Validate new model and compare with previous model

In [18]:
new_error = mean_absolute_error(val_y, val_predictions)
print('The mean absolute error for the new model was about $%d' %(new_error))
print('While the mean absolute error for previous model was about $%d' %(error))

The mean absolute error for the new model was about $26869
While the mean absolute error for previous model was about $23

## Fine-tuning model

In [ ]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)


for max_leaf_nodes in range(50, 300, 10):
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 50  		 Mean Absolute Error:  25634
Max leaf nodes: 60  		 Mean Absolute Error:  25734
Max leaf nodes: 70  		 Mean Absolute Error:  25644
Max leaf nodes: 80  		 Mean Absolute Error:  25662
Max leaf nodes: 90  		 Mean Absolute Error:  25332
Max leaf nodes: 100  		 Mean Absolute Error:  25512
Max leaf nodes: 110  		 Mean Absolute Error:  25484
Max leaf nodes: 120  		 Mean Absolute Error:  25486
Max leaf nodes: 130  		 Mean Absolute Error:  26032
Max leaf nodes: 140  		 Mean Absolute Error:  25906
Max leaf nodes: 150  		 Mean Absolute Error:  25873
Max leaf nodes: 160  		 Mean Absolute Error:  25751
Max leaf nodes: 170  		 Mean Absolute Error:  25863
Max leaf nodes: 180  		 Mean Absolute Error:  26092
Max leaf nodes: 190  		 Mean Absolute Error:  26029
Max leaf nodes: 200  		 Mean Absolute Error:  25685
Max leaf nodes: 210  		 Mean Absolute Error:  25696
Max leaf nodes: 220  		 Mean Absolute Error:  25582
Max leaf nodes: 230  		 Mean Absolute Error:  25644
Max leaf nodes: 240  		 Mean Absolute Error:  25804
Max leaf nodes: 250  		 Mean Absolute Error:  25625
Max leaf nodes: 260  		 Mean Absolute Error:  25697
Max leaf nodes: 270  		 Mean Absolute Error:  25874
Max leaf nodes: 280  		 Mean Absolute Error:  25912
Max leaf nodes: 290  		 Mean Absolute Error:  25977

Remark:
The most fine-tune model needs about 70 max leaf nodes.

In [ ]:
tuned_model = DecisionTreeRegressor(max_leaf_nodes=70, random_state=1)

tuned_model.fit(train_X, train_y)

tuned_preds_val = tuned_model.predict(val_X)

tuned_error = mean_absolute_error(val_y, tuned_preds_val)

print('error for the tuned final model validated with validation data is $%d' %(tuned_error))
print('error for the un-tuned new model validated with validation data is $%d' %(new_error))
print('error for the overfitted old model validated with in-sample data is $%d' %(error))

error for the tuned final model validated with validation data is $25644
error for the un-tuned new model validated with validation data is $26869
error for the overfitted old model validated with in-sample data is $23